# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Database configs/secrets
*.db
*.log
db_config.py

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other
*.bak
*.swp

# Flask session files
flask_session/
